<!-- Card -->
<div class="card">
  <!-- Card image -->
  <img
    class="card-img-top"
    src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
    alt="Card image cap"
  />

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title"><a> Title:</a>now you see me</h4>
    <!-- Text -->
    <h4>Author:</h4>
    <p class="card-text">
      fhfh
    </p>
    <h4>Type:</h4>
    <p class="card-text">horor</p>
    <h4>Description:</h4>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus veniam
      ullam soluta, voluptatum fugiat aliquid qui dolorem veritatis quaerat,
      quis facere nobis! Maiores magnam dolore perferendis totam sed nisi ipsum?
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="control-group" id="fields">
      <div class="controls">
        <form role="form" autocomplete="off">
          <div class="entry input-group col-xs-3">
            <input
              class="form-control"
              name="fields[]"
              type="text"
              placeholder="Type something"
            />
            <span class="input-group-btn">
              <button class="btn btn-success btn-add" type="button">
               ADD comment
              </button>
            </span>
          </div>
        </form>
        <br />
        
      </div>
    </div>
  </div>
</div>
<!-- Card -->
