.card {
  border: 2px solid black;
  width: 450px;
  height: 100%;
  margin-top: 122px;
  margin-left: 8px;
}
.container {
  margin-right: 350px;
  width: 450px;
}

#navbar-main {
  background-color: black;
}

#bakabaka {
  margin-left: -400px;
}
#bakaprofile {
  margin-left: 450px;
}

#commentarea {
  width: 300px;
  height: 100px;
}

#droplog {
  margin-left: 450px;
}
