<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <span class="title h3 my-4 text-white" id="bakabaka"> BakaBook </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']"> </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text" id="bakaprofile">Profile</span>
          </a>
          <div class="dropdown-menu" id="droplog">
            <!-- <a [routerLink]="['/user-profile']" class="dropdown-item"
              >Profile</a
            > -->
            <a [routerLink]="['/user-profile']" class="dropdown-item"
              >See Profil</a
            >
            <a [routerLink]="['/register']" class="dropdown-item">LogOut</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://www.facebook.com"
            target="_blank"
            data-toggle="tooltip"
            title="Like us on Facebook"
          >
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://www.instagram.com"
            target="_blank"
            data-toggle="tooltip"
            title="Follow us on Instagram"
          >
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://twitter.com"
            target="_blank"
            data-toggle="tooltip"
            title="Follow us on Twitter"
          >
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://github.com/baka-book"
            target="_blank"
            data-toggle="tooltip"
            title="Star us on Github"
          >
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Card -->
<center>
  <div class="card">
    <!-- Card image -->
    <img
      class="card-img-top"
      src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
      alt="Card image cap"
    />

    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title"><a> Title:</a>now you see me</h4>
      <!-- Text -->
      <h4>Author:</h4>
      <p class="card-text">
        fhfh
      </p>
      <h4>Type:</h4>
      <p class="card-text">horor</p>
      <h4>Description:</h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        veniam ullam soluta, voluptatum fugiat aliquid qui dolorem veritatis
        quaerat, quis facere nobis! Maiores magnam dolore perferendis totam sed
        nisi ipsum? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ducimus, at dolore cum itaque vel, officiis hic, esse odit natus
        voluptate inventore deleniti assumenda qui quas necessitatibus tempore
        voluptatum facere et. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Ipsa repellendus non consequuntur repudiandae eum,
        modi quis nulla aspernatur animi officia nisi, aliquid officiis sint
        reiciendis magni deserunt, hic nam ducimus!
      </p>
    </div>
  </div>
</center>

<div class="container">
  <div class="row">
    <div class="control-group" id="fields">
      <div class="controls">
        <form role="form" autocomplete="off">
          <div class="entry input-group col-xs-3">
            <input
              id="commentarea"
              class="form-control"
              name="fields[]"
              type="text"
              placeholder="Type something"
            />
            <span class="input-group-btn">
              <button
                class="btn btn-success btn-add"
                (click)="generate()"
                type="button"
              >
                ADD comment
              </button>
            </span>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>


<!-- Card -->
